@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<html>

<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>

<body>








    <style>







        body {

            background-image:
                url('https://estotambienes.files.wordpress.com/2022/02/f26da-secret-10.png?w=1274&amp;h=687&amp;crop=1');
            text-align: center;
            color: white;



        }


        .Encabezado {

            color: greenyellow;
            text-align: center;
            position: relative;







        }



    </style>

    <header>





    </header>



    <h4 class="Encabezado">Grupo Empresarial Fenix</h4>
    <p>Soluciones de Software.</p>
    </div>

</body>

</html>